{% extends "base.html" %}
{% block content %}
<div class="container col-sm-10 col-md-10 col-lg-8 justify-content-center bg-light-gold">
    <div class="text-center pb-3 mt-5 pt-3">
        <h1 class="p-1 my-4 text-center display-5">{{ message }}</h1>
    </div>
     <form method="POST" action="{{ url_for('main.vote') }}">
        {% for candidate in candidates%}
    
            <div class="row my-4 align-items-center justify-content-center">
                
                <div class="col-10 col-md-8 col-lg-6">
                    <div class="card border-gold border-2">
                    <div class="card-header text-center p-3 bg-light-gold">{{ loop.index }}</div>
                    <div class="card-body text-center py-5">
                        
                       
                        <div class="card-title display-6 fw-normal text-gold">
                            <input type="checkbox" class="fs-3" name="candidates" value="{{ candidate.id }}">
                            {{ candidate.name }}
                        </div>
                        
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="text-center">
            <button class="btn btn-lg btn-outline-primary my-3" type="submit">Submit Vote</button>    
        </div>
        
        
    </form>

    </div>
</div>



{% endblock content %}
